<%- include('./partials/header') %>
<h1>Welcome to the Expressjs boilerplate</h1>
<h3>Technologies Included</h3>
<ul>
    <li>Language: Nodejs</li>
    <li>Web framework: Expressjs</li>
    <li>Database: MongoDB</li>
    <li>View engine: EJS</li>
</ul>

<%- include('./partials/footer') %>