<!-- Head -->
<%- include('../partials/head') %>
</head>

</body>
<%- include('../partials/nav.ejs') %>

<h1>Successfully logged out</h1>
<a href="/" class="btn btn-secondary">Home</a>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>