<!-- Head -->
<%- include('../partials/head') %>
</head>

</body>
<%- include('../partials/nav.ejs') %>

<h1>Welcome <%= user.name %></h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>